.Menu {
    display: flex;
    flex-basis: 250px;
    background-color: #1e90ff;
}


.Menu nav{
    flex: 1;
}

.Menu ul {
    list-style-type: none;
    padding: 0;
}

.Menu li {
    display: flex;
}

.Menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding: 10px;
    flex: 1;
    border-bottom: 1px solid transparent;
    transition: all 1s ease;
}

.Menu li a:hover{
    transition: all 1s ease;
    background-color: #00000030;
    border-bottom: 1px solid white;
}