@charset 'UTF-8';
.calculator{
    display: grid;
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
}