.display{
    grid-column: span 4;
    background-color: #0004;

    overflow: auto;
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    padding: 20px;
    font-size: 2rem;
}