.mainUl{
    display: flex;
    flex-wrap: wrap;
}

.mainUl li{
    list-style-type: none;
    overflow: hidden;
    margin-top: 1rem;
    text-align: start;
    width: 100%;
    cursor:pointer;
}

.mainUl a {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: .4rem;
}

.mainUl a:hover::after{
    content: '';
    display: block;
    transform: translateX(0);
    width: 100%;
    height: 2px;
    transition: all ease 1s;
}

.mainUl a::after{
    content: '';
    display: block;
    transform: translateX(100%);
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all ease 1s;
}