.Menu {
    background-color: dodgerblue;
    padding: 10px;
    margin-bottom: 20px;
}

.Menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.Menu a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}