@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Medium.ttf');
}

*{
  font-family: 'Roboto', monospace;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background-image: linear-gradient(to right, rgb(83,105,118), rgb(41,46,73));
}